.fondo{
    background-color: #A3D6D8;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    animation-name: fondo;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.sol{
    /* background-color:#FFA500; */
    background-image: url('/imagenes/bai.gif');
    /* width: 100px;
    height: 100px; */
    position: absolute;
    left: -110px;
    top: 30%;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 5px rgba(255,140,0,0.5);
    
    margin: 10px; 
    width: 115px; 
    height: 115px; 
    line-height: 115px; 
    text-align: center; 
    border: 1px solid red; 
    background-repeat: no-repeat; 
    background-position: center; 
     background-size: contain; 
     
   /* propiedades animacion */
    animation-name: sol;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.nubes{
    background-image: url('/imagenes/fondo1.png');
    position: absolute;
    top: 10%;
    left: 0px;
    width: 100%;
    height: 174px;
}

@keyframes sol{
    0%{ left: -110px; top: 30%; }
    50%{left: 50%; top: 5%; background-image: url('/imagenes/bai2.gif');}
    100%{left: calc(100% + 20px);
         top: 30%;
         background-image: url('/imagenes/bai3.gif');
          box-shadow: 0px 0px 0px 5px rgba(73,92,95,0.5);
        }
}

@keyframes fondo{
    0%{
        background: #A3D6D8;
    }
    100%{
        background: #103D42;
    }
}